.call-container{
    padding:30px;
    background-color:rgb(242, 242, 236);
    max-width: 80%;
    margin-left: 10%;
    
}



.call-container h2{
    font-family: 'Montserrat',sans-serif;
    font-size:32px;
}

.call-container p{
    font-family: 'open sans',sans-serif;
    font-size:22px;
    text-align: justify;
}

.call-container>p>a{
    color:blue;
}
.cal-link{
    text-decoration: underline;
    color: blue;
}



@media(max-width:768px){
    .call-container p{
        font-size: 16px;
    }

    .call-container h2{
        font-size: 24px;
    }
}