.call-container{
    padding:30px;
    background-color:rgb(242, 242, 236);
}

.call-container h2{
    font-family: 'Montserrat',sans-serif;
    font-size:32px;
}

.call-container p{
    font-family: 'open sans',sans-serif;
    font-size:22px;
}

.call-container>p>a{
    color:blue;
}

@media(max-width:768px){
    .call-container p{
        font-size: 16px;
    }

    .call-container h2{
        font-size: 24px;
    }
}