.blue-bg{
    width: 100%;
    background-color: #EEF6FB;
    padding:80px;
}

.contact-title{
    text-align: center;
    color:black;
    font-family: var(--text1);
    font-size:40px;
    margin-bottom:80px;
}

.contact-container p{
    color:black;
    font-weight:500;
}

.contact-name{
    color:var(--bg3) !important;
    font-weight:bold;
}



.contact-container{
    background-color: #EEF6FB;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:492px) and (max-width:768px){
    .contact-container p{
        font-size:18px;
    }
}

@media(max-width:492px){
    .contact-container p{
        width:300px;
        font-size: 16px;
        text-align: center;
    }
}