.blue-bg{
    width: 100%;
    background-color: #EEF6FB;
    padding:80px;
}

.contact-title{
    text-align: center;
    color:black;
    font-family: var(--text1);
    font-size:40px;
    /* margin-bottom:80px; */
}

.contact-container p{
    color:black;
    font-weight:500;
}

.contact-name{
    color:var(--bg3) !important;
    font-weight:bold;
}

.contact-container{
    background-color: #EEF6FB;
    display: flex;
    justify-content: center;
}
.contact-email{
    text-decoration: underline;
    color: blue !important;
}
@media screen and (max-width:929px){
    .entity{
        width: 99%;
    }
}
@media screen and (min-width:492px) and (max-width:768px){
    .contact-container p{
        font-size:18px;
    }
}

@media(max-width:768px){
    
    .entity{
        width: 99%;
    }

    .circle{
        height:250px;
        width:250px;
    }

    .circle-inner{
        height: 220px;
        width:220px;
    }

    #contact-entity p{
        font-size: 10px;
    }

    #contact-entity{
        max-width: 99%;
        text-wrap: wrap;
    }
    .blue-bg{
        padding:50px;
    }
    
}