.date-section {
    background-color: rgb(242, 242, 236);
    height: 150svh;
    /* background-color: var(--bg); */
    /* margin-bottom: 80px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
}

.important-date {
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.important-date>h1 {
    font-family: var(--text1);
    font-size: 40px;
}

.schedule {
    height: 45%;
    /* background-color: aqua; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.schedule>h1 {
    font-family: var(--text1);
    font-size: 40px;
}

.sc_box {
    margin-bottom: 20px;
    width: 100%;
    height: 80%;
    /* background-color: antiquewhite; */
    display: flex;
    padding: 1em;
    align-items: center;
    column-gap: 8%;
}

.sc_circle {
    border: 1px solid rgb(233, 220, 220);
    height: 85%;
    width: 30%;
    border-radius: 50%;
    background: linear-gradient(to right, var(--bg3) 50%, var(--bg4)50%);
    padding: 0.7em;
}

.sc_inside {
    border: 1px solid #fff;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sc_link {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #069;
    cursor: pointer;
    font-family: var(--text1);
    font-size: 2.5rem;
}

@media screen and (max-width:1065px) {
    .important-date {
        width: 40%;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .important-date>h1 {
        font-family: var(--text1);
        font-size: 35px;
    }

    .schedule {
        height: 40%;
        /* background-color: aqua; */
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .schedule>h1 {
        font-family: var(--text1);
        font-size: 25px;
    }
    .sc_link {
        background: none !important;
        border: none;
        padding: 0 !important;
        color: #069;
        cursor: pointer;
        font-family: var(--text1);
        font-size: 2rem;
    }
}

@media screen and (max-width:745px) {
    .important-date {
        width: 45%;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .important-date>h1 {
        font-family: var(--text1);
        font-size: 30px;
    }

    .schedule {
        height: 30%;
        /* background-color: aqua; */
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .schedule>h1 {
        font-family: var(--text1);
        font-size: 30px;
    }
    .sc_link {
        background: none !important;
        border: none;
        padding: 0 !important;
        color: #069;
        cursor: pointer;
        font-family: var(--text1);
        font-size: 1.7rem;
    }
}

@media screen and (max-width:590px) {
    .important-date {
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .important-date>h1 {
        font-family: var(--text1);
        font-size: 27px;
    }

    .schedule>h1 {
        font-family: var(--text1);
        font-size: 27px;
    }
    .sc_link {
        background: none !important;
        border: none;
        padding: 0 !important;
        color: #069;
        cursor: pointer;
        font-family: var(--text1);
        font-size: 1rem;
    }
}

@media screen and (max-width:482px) {
    .important-date {
        width: 55%;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 13px;
    }

    .important-date>h1 {
        font-family: var(--text1);
        font-size: 25px;
    }

    .schedule {
        height: 45%;
        /* background-color: aqua; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .schedule>h1 {
        font-family: var(--text1);
        font-size: 25px;
    }

    .sc_box {
        margin-bottom: 20px;
        width: 100%;
        height: 80%;
        /* background-color: antiquewhite; */
        display: flex;
        flex-direction: column;
        padding: 1em;
        align-items: center;
        row-gap: 8%;
    }
}