.department-container{
    height: 100svh;
    width: 100%;
    display: grid;
    place-content: center;
    margin-bottom:80px;
}


.department-inner{
    display: flex;
    position:relative;
    height:100svh;
    width:100svw;
}


.department-black{
    position:absolute;
    top:70px;
    height:285px;
    width:35%;
    background-color: var(--bg2);
}


.department-sandal{
    position:absolute;
    top:180px;
    left:35%;
    height:206px;
    width:65%;
    background-color: var(--bg4);
}


.department-image{
    height: 450px;
    width: 550px;
    transform: translate(50px,120px);
    box-shadow: 0px 0px 5px 0px black;
}


.department-image img{
    height: 450px;
    width: 550px;
}


.department-desc{
    font-size:18px;
    height: 300px;
    width: 750px;
    transform: translate(80px,400px);
    text-align: justify;
    font-family: var(--text2);
    padding:10px; 
    letter-spacing: 2%;
    line-height: 25px;
}


.department-head{
    position: absolute;
    right:300px;
    top:50px;
}


.department-header-btn{
    text-align: center;
    padding: 15px;
    font-size: 17px;
    width:250px;
    padding-right: 5px;
    background-color: var(--bg2);
    color:white;
    border-radius: 20px;
    font-family: var(--text2);
}


.department-title{
    font-size: 34px;
    font-family: var(--text1);
    letter-spacing: 2%;
}


.department-desc-mobile{
    display: none;
    font-size:18px;
    height: 300px;
    width: 750px;
    text-align: justify;
    font-family: var(--text2);
    padding:10px; 
    letter-spacing: 2%;
    line-height: 25px;
}


@media screen and (min-width:768px) and (max-width:1500px){
    .department-image{
        height:350px;
        width:350px;
    }

    .department-image img{
        height: 350px;
        width: 350px;
    }

    .department-head{
        position: absolute;
        right:300px;
        top:50px;
        margin-left:30px;
    }

}


@media screen and (min-width:768px) and (max-width:1152px){    
    .department-image,.department-sandal,.department-black{
        display:none;
    }

    .department-desc{
        transform: none;
        width: 80%;
        margin-left:10%;
    }

    .department-inner{
        display: block;
        height: auto;
    }

    .department-head{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        top:0;
        right: 0;
    }

    .department-desc-mobile{
        display:flex;
        flex-direction: column;
        width: 80%;
        margin-left:10%;
        background-color: var(--bg4);
        height: auto;
        padding:20px;
        border-radius: 25px;
    }

    .department-desc{
        display: none; 
    }

    .department-container{
        margin-bottom:0px;
    }

}


@media screen and (max-width:768px){
    .department-image,.department-sandal,.department-black{
        display:none;
    }

    .department-desc{
        transform: none;
        width: 80%;
        margin-left:10%;
    }

    .department-inner{
        display: block;
        height: auto;
    }

    .department-head{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        top:0;
        right: 0;
    }

    .department-desc-mobile{
        display:flex;
        flex-direction: column;
        width: 80%;
        margin-left:10%;
        background-color: var(--bg4);
        height: auto;
        padding:20px;
        border-radius: 25px;
    }

    .department-desc{
        display: none; 
    }

    .department-container{
        margin-bottom:0px;
    }

    .department-desc-mobile{
        font-size: 12px;
        width: 95%;
        margin-left:2.5%;
    }

    .department-container{
        margin-bottom:0px;
        height: auto;
    }

    .department-title{
        font-size:16px;
    }

    .department-inner{
        height: auto;
    }

}