
.domain-container{
    display: grid;
    place-content: center;
    background-color: #d4e7f3;
    width: 100%;
    height: auto;
    padding: 30px;
    margin-bottom:120px;
    
}
.domain-content1{
    height:250px;
    gap:120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.domain-content2{
    height:250px;
    gap:120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.head-domain{
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 15px;
    padding-right: 10px;
    background-color: #2A2F33;
    color: white;
    border-radius: 20px;
    margin: auto;
    font-family: var(--text1);
    font-size: large;
    font-weight: 700;
}

.box-domain{
    width: 150px;
    height:150px;
    background-color: #EEF6FB;
    margin: 10px;
    box-shadow:inset 50px 4px 15px #90a8a8;
    border-radius: 42px;
    margin-top: 50px;
    display: grid;
    place-content: center;
    transition: 0.25s ease-in-out;

}
.domain-bt p{
    font-family: var(--text1);
    text-align: center;
    font-weight: bold;
    

}

.box-domain img{
    transition: 0.25s ease-in-out;
}

.box-domain:hover{
    box-shadow:inset 10px 60px 80px #90a8a8;
    background-color: #EEF6FB;
    transition: 0.25s ease-in-out;
}

.box-domain:hover img{
    transform:scale(1.2);
    transition: 0.25s ease-in-out;
}

@media(642px <= width <= 850px){
    .domain-content1{
        gap: 60px;
    }
    .domain-content2{
        gap: 50px;
    }
    .box-domain{
        width: 90px;
        height: 90px;
        border-radius: 20px;
    }

    .box-domain img{
        height: 50px;
        width: 50px;
    }

}
@media(max-width:642px){
    .domain-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .domain-content1{
        flex-direction: column;
        gap: 20px;
        height: auto;
        
    }
    .domain-content2{
        flex-direction: column;
        gap: 10px;
        height: auto;
        margin-left: 30px;
    }

    .domain-content2 p{
        margin-left:-30px;
    }
    .box-domain{
        margin: 0;
    }
    .head-domain{
        margin-bottom: 100px;
    }

    .white-bgs{
        height: 200svh;
    }
}