.footer-container{
    width:100%;
    background-color: var(--bg2);
    display: flex;
    justify-content: space-around;
    padding:50px;
}

.footer2{
    font-size:20px;
    font-weight:bold;
    color:white;
    font-family:var(--text2);

}

.footer3{
    font-size:20px;
    color:white;
    font-family:var(--text2);
}

.footer1{
    color:white;
}

.footer3 ul{
    list-style: none;
}

.footer3 ul li:hover{
    color:var(--bg4);
}