.registration_page{
    height: 230svh;
    width:100%;
    margin-bottom:80px;
    /* padding-bottom:70px ; */
    background-color:#EEF6FB;
}
.reg_container{
    width:70%;
    margin:0 auto;
}
.registration_fees{
    display: flex;
    flex-direction: column;
}
.pay_title{
    font-family: var(--text1);
    text-align: center;
    font-size: 2.5rem;
    padding: 0.7em;
    margin: 0;
}
.pay_fees{
    font-family: var(--text1);
    font-size: 2rem;

}
.pay_detail{
    font-family: var(--text1);
    font-size: 2rem;

}
.r_head{
    display: grid;
    grid-template-columns: 0.7fr 2fr 2fr 2fr;
    grid-template-rows:90px;
    column-gap: 10px;
}
.reg_title{
    font-family: var(--text1);
    font-size:clamp(10px,20px,25px);
    margin: 0;
    text-align: center;
    margin-top: 5px;
}

.r_box{
    border:none;
    position: relative;
}
.r_box:nth-child(2n){
    background-color: var(--bg4);
    color: black;
}
.r_box:nth-child(2n+1){
    background-color: var(--bg3);
    color: #fff;
}
.r_symbol_box{
    position: absolute;
    width:100px;
    aspect-ratio: 1/1;
    border:1px solid #ffffffb9;
    box-shadow: rgba(0, 0, 0, 0.10) 15px 15px 20px 0px inset;
    left: 50%;
    top:50%;
    transform:translate(-50%,0);
    background-color: #fff;
    border-radius: 25%;
}
.r_grid-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 0.7fr 2fr 2fr 2fr;
    grid-template-rows:repeat(4,60px);
    grid-gap: 20px; /* Gap between grid items */
  }

.r_grid-item {
    background-color:#fff;
    padding: 20px;
    text-align: center;
    font-family: var(--text1);
    font-size:15px;
    font-weight: 500;
  }
.r_payment_head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px;
    column-gap: 10px;
}
.r_head_symbol_box{
    position: absolute;
    width:200px;
    aspect-ratio: 1/0.5;
    border:1px solid #ffffffb9;
    box-shadow: rgba(0, 0, 0, 0.10) 15px 15px 20px 0px inset;
    left: 50%;
    top:50%;
    transform:translate(-50%,0);
    background-color: #fff;
    border-radius: 20px;
}
.r_payment_grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:350px;
    row-gap: 4px;
    column-gap:10px ;
    margin-top: 80px;
}
.r_payment_grid_item{
    background-color:#fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg4);
    
}
.r_payment_grid_item p{
    font-family: var(--text1);
    font-size: 15px;
    font-weight: 500;
    border:1px solid var(--bg3);
    padding:1em 1em;
    border-radius: 10px;
    background-color: var(--bg3);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

}

.r_payment_grid_item_2{
    background-color:#fff;
    padding: 10px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg3);
    
}
.r_payment_grid_item_2 p{
    font-family: var(--text1);
    font-size: 15px;
    font-weight: 500;
    border:1px solid var(--bg4);
    padding:0.3em 1em;
    border-radius: 10px;
    background-color: var(--bg4);
    /* opacity: 0.5; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.p_det{
    font-family: var(--text1);
    font-size: 15px;
    font-weight: 500;
}
.post_det{
    font-family: var(--text1);
    font-size: 15px;
    font-weight: 500;
    margin:35px 0;
}
  @media screen and (max-width: 1150px) {
    .r_symbol_box{
        display: none;
    }
    .r_head_symbol_box{
        display: none;
    }
    .r_box{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .reg_title{
        font-family: var(--text1);
        font-size: 20px;
        margin: 0;
        margin-top: 5px;
    }
    .pay_title{
        font-family: var(--text1);
        text-align: center;
        font-size: 2rem;
        padding: 0.7em;
        margin: 0;
    }
    .pay_fees{
        font-family: var(--text1);
        font-size: 1.5rem;
    
    }
    .pay_detail{
        font-family: var(--text1);
        font-size: 1.5rem;
    
    }
  }