.overlay{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(0,0,0,0.4);
}
.psg-video{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.content{
    position:absolute;
    top:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    row-gap: 6rem;
    z-index:2;
    top:0;
}
.section_top{
 display: flex;
 flex-direction: column;
}
.section_bottom{
    display: flex;
    column-gap: 1.5rem;
    margin-right: 110px;

}
.h_conference{
    font-family: var(--text1);
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    color: var(--bg4);
    text-align: center;
}
.h_topic{
    font-family: var(--text1);
    text-align: center;
    margin: 0;
    color:#fff;
    font-size:2.7rem;
    font-weight: 600;

}
.h_name{
    font-family:var(--text1);
    color: var(--bg4);
    margin: 0;
    font-size:2.7rem;
    text-align: center;
}
.h_month{
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 1.8rem;
}
.h_organizer{
    text-align:center;
    color: var(--bg4);
    font-size: 1.9rem;
    font-weight:700;
    margin: 0;
}
.h-left{
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.h_department{
    font-family: var(--text1);
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    margin: 0;
}
.h_college{
    text-align: center;
    font-family: var(--text1);
    font-size: 2.2rem;
    font-weight:700;
    margin: 0;
    color: #fff;
}
.h_place{
    text-align: center;
    font-family: var(--text1);
    font-size: 1.8rem;
    margin: 0;
    color: #fff;

}
.h-right{
    display: flex;
    flex-direction: column;
}