.h_header{
  height: 100svh;
}
.navbar {
    background:#2A2F33;
    height: 74px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--text1);
    font-size: 1.3rem;
    position:fixed;
    z-index: 5;

  }
  .nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
    color:white;
    height: 74px;
    margin-bottom: 0;
    margin-top: 0;
  }
   .nav-item {
    display: flex;
    align-items: center;
    height: 74px;
    cursor: pointer;
    position: relative;
  }
  .nav-item::after{
      content: '';
      position: absolute;
      width: 0; 
      display: block;
      margin-top: 5px;
      right: 0;
      bottom:20%;
      background:var(--bg4);
      transition: width .2s ease;
  }
  .nav-item:hover:after{
    width: 50%;
    left: 0;
    background:var(--bg4);
    height: 3px;
  }
  .nav-item.active{
    display: flex;
    align-items: center;
    height: 74px;
    cursor: pointer;
    position: relative;
  }
  .nav-item.active::after{
    content: '';
      position: absolute;
      width:100%; 
      height: 3px;
      display: block;
      margin-top: 5px;
      right: 0;
      bottom:20%;
      background:var(--bg4);
      transition: width .2s ease;

  }
  .items{
    display:none;
  }
  .span-drop{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .drop-icon{
    font-size: 20px;
}
  .span-logo{
    color:#E8C1A2;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    top:10px;
  }
  .logo-year{
    font-family: var(--text1);
    font-weight: bold;
    color: white;
    font-size: 2rem;
    margin-left: 0.5rem;
  }
 
  
  .nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.3rem;
  }
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icons {
    display: none;
    list-style: none;
  }
  @media screen and (max-width:1365px){
    .navbar{
      /* color: white;
      text-decoration: none;
      padding: 0.5rem 0.3rem; */
      font-family: var(--text1);
      font-size: 15px;
    }

  }
  @media screen and (max-width: 1152px) {
    .NavbarItems {
      position: relative;
    }
    .nav-item::after{
      display: none;
    }
    .nav-item.active::after{
      display: none;
    }
  
    .nav-menu {
      display:flex;
      position: absolute;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      row-gap:2px;
      width: 100%;
      height: 90svh;
      top: 72px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index:5;
    }
  
    .nav-menu.active {
      display: flex;
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 5;
      padding-top: 20px;
      transform: translateZ(50%);
    }
    .nav-item{
      height:30px;
      margin-bottom: 5px;
    }
    .nav-expand-item{
      display: flex;
      flex-direction: column;
      height: fit-content;
      height:fit-content;
      margin-bottom: 5px;
    }
    .items{
      display:none;
    }
    .nav-links {
      text-align: center;
      width: 100%;
      cursor: pointer;
      margin-bottom: 2px;
    }
  
    .nav-links:hover {
      border-bottom:1px solid var(--bg4);
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icons {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.2rem;
      cursor: pointer;
      list-style: none;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      border-radius: 4px;
      width: 80%;
      padding: 0.2em 1em;
      text-decoration: none;
      color:var(--bg4);
      font-size: 1.5rem;
      cursor: pointer;
    }
  
    .nav-links-mobile:hover {
      background:var(--bg4);
      border:1px solid var(--bg4);
      padding: 0.2em 1em;
      width: fit-content;
      color:var(--bg2);
      transition: 250ms;
    }
  
    .register-button {
      display: none;
    }
    .close-icon{
      font-size: 30px;
      color: white;
    }
    .open-icon{
      font-size: 30px;
      color: white;
    }
  }
  